@model HCSV.Business.Models.ContentModel<HCSV.Models.jos_content>
@{
    ViewBag.Title = HttpContext.Current.Application[HCSV.Core.Constants.Page.PAGE_TITLE];
    ViewBag.Page = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{

    <section>
        <div class="section-content">
            <div class="row">
                <div class="product">
                    <div class="col-md-12">
                        <div class="horizontal-tab">
                            <ul class="nav nav-tabs">
                                @{ int i = 0;}
                                @foreach (var item in Model.ListValues)
                                {
                                    if (i == 0)
                                    {
                                        <li class="active"><a href="#tab-@item.id" data-toggle="tab">@item.title</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#tab-@item.id" data-toggle="tab">@item.title</a></li>
                                    }
                                    i++;
                                }
                            </ul>
                            <div class="tab-content">
                                @{ i = 0;}
                                @foreach (var item in Model.ListValues)
                                {
                                    if (i == 0)
                                    {
                                        <div class="tab-pane fade in active" id="tab-@item.id">
                                            <h3>@item.title</h3>
                                            @Html.Raw(item.introtext)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="tab-pane fade in" id="tab-@item.id">
                                            <h3>@item.title</h3>
                                            @Html.Raw(item.introtext)
                                        </div>
                                    }
                                    i++;

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
