@model HCSVNewWebsite.Models.jos_feedback

@{
    ViewBag.Title = "Offer_Advise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Session[HCSVNewWebsite.Commons.Commons.SESSION_ERROR_CAPCHA]
<div class="validationError">
    <div style="font-weight:bold;color:red;" class="error">@ViewBag.Success</div>
    @using (Html.BeginForm ("Index", "Offer_Advise"))
    {
        <table>
            <tbody>
                <tr>
                    <td align="right" valign="top">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HO_TEN"):</td>
                    <td>
                        @Html.TextBoxFor(f => f.Name)
                        <div style="font-weight:bold;color:red;" class="error">@ViewBag.NameError</div>
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("DIA_CHI_EMAIL"):</td>
                    <td>
                        @Html.TextBoxFor(f => f.Email)
                        <div style="font-weight:bold;color:red;" class="error">@ViewBag.EmailError</div>
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("CHU_DE"):</td>
                    <td>
                        @Html.TextBoxFor(f => f.Subject)
                        <div style="font-weight:bold;color:red;" class="error">@ViewBag.SubjectError</div>
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NOI_DUNG") :</td>
                    <td>
                        @Html.TextAreaFor(f => f.Message, new { style = "width:600px;height:130px;" })
                        <div style="font-weight:bold;color:red;" class="error">@ViewBag.MessageError</div>
                    </td>

                </tr>
                @*Begin Captcha*@
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <img src="/Offer_Advise/GetCaptchaImage" style="width:200px;" title="Captcha" />
                            <br />
                            <input type="text" name="clientCaptcha" placeholder="@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GO_CAPCHA")" style="width:200px;" required />
                            <div style="font-weight:bold;color:red;" class="error">@ViewBag.CaptchaError</div>
                        </div>

                    </td>
                </tr>
                @*End Captcha*@
                <tr>
                    <td></td>
                    <td>
                        <a href="javascript:document.getElementById('').submit()" id="submitButton" class="btn"><span>Gửi</span></a>                        
                        <input type="submit" name="fsfs" value="submit" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

