
@{
    ViewBag.Title = "StorageCharge_SelectTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout">

    <title>TCS - A Joint Venture between VIETNAM AIRLINES, SASCO and SATS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="index_files/tcs.htm" type="text/css">

    <div class="text" id="spiffycalendar"></div>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tbody>
            <tr valign="top">
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td span="" class="awb_title">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_LUU_KHO_TAI_THOI_DIEM_HANGNHAP")</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table class="awb_tbl02" align="center" cellspacing="0" cellpadding="0" border="0" width="94%">
                                        <tbody>
                                            <tr bordercolor="#EAEAEA">
                                                <td colspan="4" bgcolor="#EAEAEA" width="100%" valign="top">
                                                    <strong>
                                                        @HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_KHONG_VAN_DON"): &nbsp;
                                                        695-08842794
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr bordercolor="#FFFFFF">
                                                <td colspan="2" align="center" bgcolor="#FFFFFF" valign="top">
                                                    <strong>
                                                        @HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_KIEN_HANG")
                                                    </strong>
                                                </td>
                                                <td colspan="2" align="center" bgcolor="#FFFFFF" valign="top">
                                                    <strong>
                                                      @HCSVNewWebsite.Commons.TitleConst.getTitleConst("TRONG_LUONG")
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="center" bgcolor="#FFFFFF" valign="top">
                                                    10                  &nbsp;
                                                </td>
                                                <td colspan="2" align="center" bgcolor="#FFFFFF" valign="top">
                                                    76                  kg&nbsp;
                                                </td>
                                            </tr>
                                            <tr bordercolor="#EAEAEA">
                                                <td colspan="4" bgcolor="#EAEAEA" width="100%" valign="top">
                                                    <strong>
                                                       @HCSVNewWebsite.Commons.TitleConst.getTitleConst("THONG_TIN_GIA_CA")
                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr bordercolor="#FFFFFF">
                                                <td colspan="4" bgcolor="#FFFFFF" valign="top">
                                                    <table class="form" align="center" cellspacing="0" cellpadding="0" bordercolor="#EAEAEA" border="0" bgcolor="#FFFFFF" width="95%">
                                                        <tbody>
                                                            <tr>
                                                                <td width="40%" valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_HIEU_CHUYEN_BAY")</strong></td>
                                                                <td width="60%" valign="top">
                                                                    :
                                                                    BR0395
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("LOAI_LUU_KHO")</strong></td>
                                                                <td valign="top">
                                                                    :
                                                                    Hàng thông thường
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("LOAI_PHUC_VU")</strong></td>
                                                                <td valign="top">
                                                                    :
                                                                    Hàng thông thường
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NGAY_NHAP_KHO")</strong></td>
                                                                <td valign="top">
                                                                    :
                                                                    03Mar2017 10:18
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NGAY_XUAT_KHO")</strong></td>
                                                                <td valign="top">
                                                                    :
                                                                    22May2017 10:06
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NGAY_LE")</strong></td>
                                                                <td valign="top">
                                                                    :
                                                                    15                        &nbsp;
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("MIEN_PHI")</strong></td>
                                                                <td valign="top">
                                                                    :
                                                                    18
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_NGAY_TINH_PHI")</strong></td>
                                                                <td valign="top">
                                                                    :
                                                                    63&nbsp;(đối với hàng thông thường)
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top"></td>
                                                                <td valign="top">
                                                                    :
                                                                    81&nbsp;(đối với hàng khác)
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr bordercolor="#EAEAEA">
                                                <td align="center" bgcolor="#EAEAEA" valign="top">
                                                    <strong>
                                                       @HCSVNewWebsite.Commons.TitleConst.getTitleConst("NOI_DUNG")
                                                    </strong>
                                                </td>
                                                <td align="center" bgcolor="#EAEAEA" valign="top">
                                                    <strong>
                                                       @HCSVNewWebsite.Commons.TitleConst.getTitleConst("DIEN_GIAI")
                                                    </strong>
                                                </td>
                                                <td align="center" bgcolor="#EAEAEA" valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THUE")</strong></td>
                                                <td align="center" bgcolor="#EAEAEA" valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TONG_CONG")</strong></td>

                                            </tr>

                                            <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                <td valign="top">
                                                    <strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_LUU_KHO") </strong>
                                                </td>

                                                <td align="center" valign="top">  Từ ngày thứ 1 đến ngày thứ 1 : (76.0*1,330)=101,080<br> Từ ngày thứ 2 đến ngày thứ 2 : (76.0*1,330)=101,080<br> Từ ngày thứ 3 đến ngày thứ 3 : (76.0*1,330)=101,080<br> Từ ngày thứ 4 đến ngày thứ 7 : (76.0*1,110)*4=337,440<br> Từ ngày thứ 8 đến ngày thứ 63 : (76.0*1,450)*56=6,171,200<br><br>. Tổng cộng: 6,811,880<br></td>
                                                <td align="right" valign="top">10% </td>
                                                <td align="right" valign="top">
                                                    7,493,068
                                                </td>

                                            </tr>

                                            <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_PHUC_VU")</strong></td>
                                                <td align="center" valign="top">Từ giờ thứ 12 trở đi: 1,120(VND/kg) * 76.0(kg)=85,120(VND)<br>. Tổng cộng: 85,120<br>. Nhỏ hơn giá tối thiểu 150,000<br></td>
                                                <td align="right" valign="top">10%</td>
                                                <td align="right" valign="top">165,000</td>

                                            </tr>


                                            <tr bordercolor="#FFFFFF">
                                                <td colspan="4" align="right" bgcolor="#FFFFFF" valign="top">
                                                    <div align="right">
                                                        <strong>
                                                           @HCSVNewWebsite.Commons.TitleConst.getTitleConst("TONG_CONG"):
                                                            7,658,068
                                                        </strong>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr bordercolor="#FFFFFF">
                                                <td colspan="9" bgcolor="#FFFFFF" valign="top">
                                                    Lưu ý: Giá này chỉ
                                                    áp dụng với những lô hàng chưa làm thủ tục lần nào và chưa bao gồm  phụ thu nếu có.
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <div align="center">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="marginT10" align="center">
                                                           
                                                                <a href="/Prices/Index" target="_blank" class="btn">
                                                                    <span>
                                                                        @HCSVNewWebsite.Commons.TitleConst.getTitleConst("BANG_GIA")
                                                                    </span>

                                                                </a>
                                                                <a href="/AWBTracking_DirectConsignee/Index" target="_parent" class="btn"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TRO_LAI")</span></a>
</div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</div>
<script type="text/javascript">
    $('document').ready(function () {
        $(".btn").click(function () {
            value = $(this).attr('value');
            form_id = $(this).attr('form');
            action_input_id = form_id + '_action';
            $('#' + action_input_id).attr({ 'value': value });
            $('#' + form_id).submit();
        });
    });
</script>
