
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_container">
    <div>

        <div>
            <ul class="awb_tabs">
                <li><a href="@Url.Action("ImportCargoTracking_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THONG_TIN_HANG_HOA_NHAP_KHAU")</span></a></li>
                <li><a href="@Url.Action("InwardFlightServiceReport_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("IN_BAO_CAO")</span></a></li>
                <li><a href="@Url.Action("NoneDeliveryReport_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HANG_TRONG_KHO")</span></a></li>
                <li><a href="@Url.Action("ExportCargoStatus_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TINH_TRANG_HANG_HOA_XUAT_KHAU")</span></a></li>
                <li><a href="@Url.Action("ExportCargoInWareHouse_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HANG_XUAT_KHAU_TRONG_KHO")</span></a></li>
                <li class="current"><a href="@Url.Action("ChangePassword", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THAY_DOI_MAT_KHAU")</span></a></li>

            </ul>
        </div>                <div id="user_profile" style="float:right;">
            <a href="sign_out.php?section=airline&amp;locale=vi_VN">
                @HCSVNewWebsite.Commons.TitleConst.getTitleConst("DANG_XUAT")
            </a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="layout">
        <link rel="stylesheet" href="../../wwwroot_PC21jul/TCS/html/tcs.css" type="text/css">
        <script language="JavaScript">
            function checkForm() {
                var error = 0;
                var error_message = "Errors have occured during the process of your form!\nPlease make the following corrections:\n\n";

                var user_name = document.frm.user_name.value;
                var user_passwd = document.frm.user_passwd.value;
                var passwd = document.frm.passwd.value;
                var re_passwd = document.frm.re_passwd.value;

                if (user_name.length < 3) {
                    error_message = error_message + "* The 'Username' must have at least 3 characters.\n";
                    error = 1;
                }
                if (user_passwd.length < 4) {
                    error_message = error_message + "* The 'Old Password' must be not null and  have at least 4 characters.\n";
                    error = 1;
                }
                if ((passwd.length < 4) || (re_passwd != passwd)) {
                    error_message = error_message + "* The 'New Password' and 'Retype New Password' entries must match and  have at least 4 characters.\n";
                    error = 1;
                }

                if (error == 1) {
                    alert(error_message);
                    return false;
                } else {
                    return true;
                }
            }
        </script>


        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr valign="top">
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><h5>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THAY_DOI_MAT_KHAU")</h5></td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <form name="frm" id="frm_id" method="post" action="index.php?section=airline&amp;layout=cp_06" onsubmit="return checkForm();"></form>

                                <tr>
                                    <td width="50%" align="right" class="text"> @HCSVNewWebsite.Commons.TitleConst.getTitleConst("TEN_NGUOI_DUNG") *</td>
                                    <td width="50%" align="left" class="text">&nbsp; <input class="text" type="Text" name="user_name"></td>
                                </tr>
                                <tr>
                                    <td width="50%" align="right" class="text"> @HCSVNewWebsite.Commons.TitleConst.getTitleConst("MAT_KHAU_CU") *</td>
                                    <td width="50%" align="left" class="text">&nbsp; <input class="text" type="Password" name="user_passwd"></td>
                                </tr>
                                <tr>
                                    <td width="50%" align="right" class="text"> @HCSVNewWebsite.Commons.TitleConst.getTitleConst("MAT_KHAU_MOI") *</td>
                                    <td width="50%" align="left" class="text">&nbsp; <input class="text" type="Password" name="passwd"></td>
                                </tr>
                                <tr>
                                    <td width="50%" align="right" class="text"> @HCSVNewWebsite.Commons.TitleConst.getTitleConst("GO_LAI_MAT_KHAU_MOI") *</td>
                                    <td width="50%" align="left" class="text">&nbsp; <input class="text" type="Password" name="re_passwd"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <input type="Submit" value="Submit" name="submit" id="submit" style="display:none">
                                        <a class="btn" value="Submit" name="submit" action_btn="submit" form="frm_id"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("XAC_NHAN")</span></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>


        <!-- iware add javascript handle form -->
        <script type="text/javascript">
            $('document').ready(function () {
                $(".btn").click(function () {
                    value = $(this).attr('value');
                    form_id = $(this).attr('form');
                    action_btn_id = $(this).attr('action_btn');
                    $('#' + action_btn_id).click();
                });
            });
        </script>
        <!-- iware end -->
    </div>
</div>
