
@{
    ViewBag.Title = "InwardFlightServiceReport_loaded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_container">
    <div>


        <div>
            <ul class="awb_tabs">
                <li><a href="@Url.Action("ImportCargoTracking_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THONG_TIN_HANG_HOA_NHAP_KHAU")</span></a></li>
                <li class="current"><a href="@Url.Action("InwardFlightServiceReport_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("IN_BAO_CAO")</span></a></li>
                <li><a href="@Url.Action("NoneDeliveryReport_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HANG_TRONG_KHO")</span></a></li>
                <li><a href="@Url.Action("ExportCargoStatus_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TINH_TRANG_HANG_HOA_XUAT_KHAU")</span></a></li>
                <li><a href="@Url.Action("ExportCargoInWareHouse_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HANG_XUAT_KHAU_TRONG_KHO")</span></a></li>
                <li><a href="@Url.Action("ChangePassword", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THAY_DOI_MAT_KHAU")</span></a></li>

            </ul>
        </div>                <div id="user_profile" style="float:right;">
            <a href="sign_out.php?section=airline&amp;locale=vi_VN">
                @HCSVNewWebsite.Commons.TitleConst.getTitleConst("DANG_XUAT")
            </a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="layout">
        <!-- IN BAO CAO -->
        <h5>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("IN_BAO_CAO_CHUYEN_BAY_DEN")</h5>
        <form id="al_flight_report" action="https://www.tcs.com.vn/awb/index.php?section=airline&amp;layout=09_cs" method="post">
            <input type="hidden" name="action" id="al_flight_report_action">

            <table width="1000" class="bdr">
                <tbody>
                    <tr>
                        <td>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_HIEU_CHUYEN_BAY") :</td>
                        <td><input type="text" name="txt_flight_no" value="br0395" maxlength="8"></td>
                        <td>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NGAY") :</td>
                        <td><input type="txt_date" name="txt_flight_date" value="14/3/2017" maxlength="10"></td>
                        <td><a href="https://www.tcs.com.vn/awb/index.php?section=airline&amp;layout=09_cs#" class="btn" value="choose" form="al_flight_report"><span>Chọn</span></a>&nbsp;<a href="javascript:window.print();" class="btn"><span>Print</span></a></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <!-- END IN BAO CAO -->
        <!-- BAO CAO -->
        <div class="ui_awb">
            <h5>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("BAO_CAO_CHUYEN_BAY_DEN")</h5>
            <table width="1000" class="tbl02">
                <tbody>
                    <tr><td colspan="7">
                            @HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_HIEU_CHUYEN_BAY") : 
                            br0395 Ngày: 01-Jan-1970
                        </td></tr>
                    <!-- PHAN A -->
                    <tr>
                        <td class="txt_uppercase" width="170">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("PHAN_A")</td>
                        <td colspan="6" class="txt_uppercase">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SU_KHAC_BIET_DANH_SACH_HANG_HOA")</td>
                    </tr>
                    <tr>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NOI_XUAT_PHAT")</td>
                        <td class="title" align="center" colspan="4">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_TRANG_MNF")</td>
                        <td class="title" align="center" colspan="2">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TINH_CHAT_KHAC_BIET_XU_LY")</td>
                    </tr>
                    <tr>
                        <td>TPE</td>
                        <td align="center" colspan="4">1</td>
                        <td colspan="2">
                            NIL
                        </td>
                    </tr>
                    <tr><td colspan="7">&nbsp;</td></tr>


                    <!-- PHAN B -->
                    <tr>
                        <td class="txt_uppercase">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("PHAN_B")</td>
                        <td colspan="6" class="txt_uppercase">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SU_KHAC_BIET_KHONG_VAN_DON")</td>
                    </tr>
                    <tr>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_KHONG_VAN_DON")</td>
                        <td class="title" align="center" width="70">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TU")</td>
                        <td class="title" align="center" width="70">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("DEN")</td>
                        <td class="title" align="center" width="70">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_KIEN")</td>
                        <td class="title" align="center" width="70">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TRONG_LUONG")</td>
                        <td class="title" align="center" width="120">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("LOAI_HANG")</td>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TINH_CHAT_KHAC_BIET_XU_LY")</td>
                    </tr>

                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td align="right">
                            &nbsp;
                        </td>
                        <td align="right">
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr><td colspan="7">&nbsp;</td></tr>

                    <!-- PHAN C -->
                    <tr>
                        <td class="txt_uppercase">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("PHAN_C")</td>
                        <td colspan="6" class="txt_uppercase">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SU_KHAC_BIET_TINH_TRANG_HANG_HOA")</td>
                    </tr>
                    <tr>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_KHONG_VAN_DON")</td>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TU")</td>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("DEN")</td>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_KIEN")</td>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TRONG_LUONG")</td>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("LOAI_HANG")</td>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TINH_CHAT_KHAC_BIET_XU_LY")</td>
                    </tr>

                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td></td>
                        <td></td>
                        <td align="right"></td>
                        <td align="right"></td>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr><td colspan="7">&nbsp;</td></tr>
                    <tr>
                        <td class="title" align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NHAN_VIEN_BO_PHAN")</td>
                        <td class="title" align="center" colspan="5">Goods</td>
                        <td class="title" align="center">Mails</td>
                    </tr>
                    <tr>
                        <td>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TAI_LIEU_OA_DOC")</td>
                        <td colspan="5">
                            THU HA - NGUYEN THI XUAN TRANG
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("KIEM_HANG_OA_CHECKER")</td>
                        <td colspan="5">
                            HOANG MINH THI
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("CA_TRUONG_CS_IMPORT")</td>
                        <td colspan="5"></td>

                        <td></td>
                    </tr>
                    <tr>
                        <td>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIO_KET_THUC")</td>
                        <td colspan="5">
                            GIANGNTH 14MAR2017 1752
                        </td>

                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            @HCSVNewWebsite.Commons.TitleConst.getTitleConst("NGAY_GIO_IN_BAO_CAO")
                            :  31 May 2017 9:54
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>

        <div align="right" class="marginT10"><a href="https://www.tcs.com.vn/awb/index.php?section=airline&amp;layout=09_cs#" class="btn marginT0"><span>Back to top</span></a></div>
        <!-- END BAO CAO -->

        <script type="text/javascript">
            $('document').ready(function () {
                $(".btn").click(function () {
                    value = $(this).attr('value');
                    form_id = $(this).attr('form');
                    action_input_id = form_id + '_action';
                    $('#' + action_input_id).attr({ 'value': value });
                    $('#' + form_id).submit();
                });
            });
        </script>
        <!-- iware end -->

    </div>
</div>