@using HCSV.Resources
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--  Start Content -->
<form id="form_statistic" action="/Airline/downloadFile" method="post">
    <div id="rp_wrapper">
        <table width="452" border="0" align="center">
            <tbody>
                <tr>
                    <td width="180" align="right"> Resource: </td>
                    <td width="78">&nbsp;</td>
                    <td colspan="2" align="left">@GlobalResource.DANG_TEP :</td>
                </tr>
                <tr>
                    <td height="52" align="right">2015 &nbsp;</td>
                    <td><input type="radio" name="ans" value="2015"></td>
                    <td width="18" align="right"><input name="ans1" type="radio" value="p" checked="checked"></td>
                    <td width="158" height="52">pdf</td>
                </tr>
                <tr>
                    <td height="52" align="right">2016 &nbsp;</td>
                    <td><input name="ans" type="radio" value="2016"></td>
                    <td align="right"><input type="radio" name="ans1" value="e"></td>
                    <td height="52">excel</td>
                </tr>
                <tr>
                    <td height="52" align="right">2017 &nbsp;</td>
                    <td><input name="ans" type="radio" value="2017" checked="checked"></td>
                    <td height="52" colspan="2" align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td height="32" colspan="4" align="center">
                        @*<label class="btnLeaf piecss3" style="margin-right: 5px;">
                                @Html.ActionLink("Download", "downloadFile", "Airline")
                            </label>*@



                        <input type="submit" name="btn_thoat" id="btn_thoat" value="@GlobalResource.TAI_VE" class="btnLeaf piecss3 btn" style="line-height: 16px;">
                        &nbsp;&nbsp;
                        <input type="button" name="btn_thoat" id="btn_thoat" value="@GlobalResource.THOAT" class="btnLeaf piecss3 btn" style="line-height: 16px;">
                        <br>
                        <br>
                        <label>
                            <a href="#">@GlobalResource.THAY_DOI_MAT_KHAU</a>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>