
@{
    ViewBag.Title = "TCSCargoHandlingCharges_ServiceCharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_container">
    <div>

        <div>
            <ul class="awb_tabs">
                <li><a href="@Url.Action("ImportCargoTracking_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THONG_TIN_HANG_HOA_NHAP_KHAU")</span></a></li>
                <li><a href="@Url.Action("InwardFlightServiceReport_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("IN_BAO_CAO")</span></a></li>
                <li><a href="@Url.Action("NoneDeliveryReport_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HANG_TRONG_KHO")</span></a></li>
                <li><a href="@Url.Action("ExportCargoStatus_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TINH_TRANG_HANG_HOA_XUAT_KHAU")</span></a></li>
                <li><a href="@Url.Action("ExportCargoInWareHouse_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HANG_XUAT_KHAU_TRONG_KHO")</span></a></li>
                <li><a href="@Url.Action("ChangePassword", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THAY_DOI_MAT_KHAU")</span></a></li>

            </ul>
        </div>                <div id="user_profile" style="float:right;">
            <a href="sign_out.php?section=airline&amp;locale=vi_VN">
                @HCSVNewWebsite.Commons.TitleConst.getTitleConst("DANG_XUAT")
            </a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="layout">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="awb_title">
                        @HCSVNewWebsite.Commons.TitleConst.getTitleConst("BANG_GIA_HIEN_HANH")
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="price" width="30%" border="0" align="right" cellpadding="2" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="9%">
                                        <img src="../images/arroww.gif" width="11" height="11">
                                    </td>
                                    <td width="91%">
                                        <strong><a href="@Url.Action("TCSCargoHandlingCharges_StorageCharge", "Airline", "Views")">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_LUU_KHO")</a></strong>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../images/arroww.gif" width="11" height="11">
                                    </td>
                                    <td>
                                        <strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_PHUC_VU")</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../images/arroww.gif" width="11" height="11">
                                    </td>
                                    <td>
                                        <a href="@Url.Action("TCSCargoHandlingCharges_SurchargeRateForOvertimeService", "Airline", "Views")">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("PHU_THU_GIA_LAO_VU_NGOAI_GIO")</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../images/arroww.gif" width="11" height="11">
                                    </td>
                                    <td>
                                        <a href="@Url.Action("TCSCargoHandlingCharges_OtherFees", "Airline", "Views")">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_DICH_VU_KHAC")</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table width="100%" class="tbl02">
                            <tbody>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td width="4%"> <div align="center"><strong>HCSVNewWebsite.Commons.TitleConst.getTitleConst("STT")</strong> </div></td>
                                    <td width="74%">
                                        <div align="center">
                                            <strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NOI_DUNG_CAC_KHOAN_THU")</strong>
                                        </div>
                                    </td>
                                    <td width="10%"> <div align="center"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("DON_VI_TINH")</strong> </div></td>
                                    <td width="12%">
                                        <div align="center">
                                            <strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("MUC_THU")</strong>
                                        </div>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td> 2. </td>
                                    <td><strong>SERVICE CHARGE</strong> </td>
                                    <td>&nbsp; </td>
                                    <td>&nbsp; </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td> 2.1 </td>
                                    <td><strong>General cargo</strong> </td>
                                    <td>&nbsp; </td>
                                    <td>&nbsp; </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>2.1.1 </td>
                                    <td> Export cargo </td>
                                    <td> <div align="center"> Kg </div></td>
                                    <td>
                                        <div align="right">
                                            760
                                        </div>
                                    </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> Minimum - Export cargo </td>
                                    <td> <div align="center"> Service </div></td>
                                    <td>
                                        <div align="right">
                                            99,00043,000
                                        </div>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>2.1.2</td>
                                    <td>- <strong>Cargo that need to register new Air Way Bill (MAWB)</strong></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Applied the export service charge for each type of cargo as below:</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>1. General Export cargo</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Charge rate</blockquote></td>
                                    <td align="center">VND/kg</td>
                                    <td align="right">760</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Minimum</blockquote></td>
                                    <td align="center">VND/Service</td>
                                    <td align="right">99,000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>2. Export Valuable cargo ( VAL)</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Charge rate</blockquote></td>
                                    <td align="center">VND/kg</td>
                                    <td align="right">5,250</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Minimum</blockquote></td>
                                    <td align="center">VND/Service</td>
                                    <td align="right">1,000,000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>3. Export Livestock</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Charge rate</blockquote></td>
                                    <td align="center">VND/kg</td>
                                    <td align="right">950</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Minimum</blockquote></td>
                                    <td align="center">VND/Service</td>
                                    <td align="right">250,000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>4. Export Valnerable cargo ( VUN ) </td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Charge rate</blockquote></td>
                                    <td align="center">VND/kg</td>
                                    <td align="right">850</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Minimum</blockquote></td>
                                    <td align="center">VND/Service</td>
                                    <td align="right">200,000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>5. Export Dangerous cargo ( DGR )</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Charge rate</blockquote></td>
                                    <td align="center">VND/kg</td>
                                    <td align="right">1,440</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td><blockquote>- Minimum</blockquote></td>
                                    <td align="center">VND/Service</td>
                                    <td align="right">150,000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>6. Human remains</td>
                                    <td align="center">VND/Service</td>
                                    <td align="right">700,000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>2.1.3</td>
                                    <td><strong>- Import cargo </strong></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered between 1.5 to 3 hours after ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">5,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered between 3 to 6 hours after ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">3,500</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered between 6 to 9 hours after ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">2,500</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered between 9 to 12 hours after ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">1,800</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered after 12 hours ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">1.120</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">150,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td colspan="3">
                                        <em>
                                            * Please register in advance, your
                                            shipments will be arranged to deliver within the above time frame
                                        </em>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>2.2 </td>
                                    <td><strong>Special cargo</strong></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td> 2.2.1</td>
                                    <td><strong>Express cargo</strong></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered between 1.5 to 3 hours after ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">5,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered between 3 to 6 hours after ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">3,500</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered after 6 hours ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">2,500</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">150,000</div></td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td> 2.2.2</td>
                                    <td><strong>Perishable cargo</strong></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered between 1.5 to 3 hours after ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">5,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered between 3 to 6 hours after ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">3,500</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300,000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered after 6 to 9 hours ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">2,500</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300.000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Cargo delivered after 9 to 12 hours ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">1,800</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Service</div></td>
                                    <td><div align="right">300.000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td height="24">&nbsp;</td>
                                    <td>Cargo delivered after 12 hours ATA</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">1.250</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>&nbsp;</td>
                                    <td>Minimum charge</td>
                                    <td><div align="center">Kg</div></td>
                                    <td><div align="right">150.000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td> 2.2.3</td>
                                    <td> <strong>Valuable cargo </strong></td>
                                    <td>&nbsp; </td>
                                    <td>&nbsp; </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> - Export cargo </td>
                                    <td> <div align="center"> Kg </div></td>
                                    <td>
                                        <div align="right">
                                            5,250

                                        </div>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> Minimum </td>
                                    <td> <div align="center"> Service </div></td>
                                    <td> <div align="right">1,000,0000</div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> - Import cargo </td>
                                    <td> <div align="center"> Kg </div></td>
                                    <td>
                                        <div align="right">
                                            5,250
                                        </div>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> Minimum </td>
                                    <td> <div align="center"> Service </div></td>
                                    <td>
                                        <div align="right">
                                            1,
                                            000,000
                                        </div>
                                    </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td> 2.2.4</td>
                                    <td> <strong>Livestock </strong> </td>
                                    <td>&nbsp; </td>
                                    <td>&nbsp; </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> - Export cargo </td>
                                    <td> <div align="center"> Kg </div></td>
                                    <td>
                                        <div align="right">
                                            950
                                        </div>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> Minimum </td>
                                    <td> <div align="center"> Service </div></td>
                                    <td>
                                        <div align="right">
                                            250,000
                                        </div>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> - Import cargo </td>
                                    <td> <div align="center"> Kg </div></td>
                                    <td>
                                        <div align="right">
                                            2,500
                                        </div>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> Minimum </td>
                                    <td> <div align="center"> Service </div></td>
                                    <td>
                                        <div align="right">
                                            250,000
                                        </div>
                                    </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td> 2.2.5</td>
                                    <td> <strong>Vulnerable cargo (VUN)</strong></td>
                                    <td>&nbsp; </td>
                                    <td>&nbsp; </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> - Export cargo </td>
                                    <td> <div align="center"> Kg </div></td>
                                    <td>
                                        <div align="right">
                                            850
                                        </div>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> Minimum </td>
                                    <td> <div align="center"> Service </div></td>
                                    <td>
                                        <div align="right">
                                            200,000
                                        </div>
                                    </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td> 2.2.6</td>
                                    <td> <strong>Dangerous goods (DGR)</strong></td>
                                    <td>&nbsp; </td>
                                    <td>&nbsp; </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> - Export cargo </td>
                                    <td> <div align="center"> Kg </div></td>
                                    <td>
                                        <div align="right">
                                            1,4400
                                        </div>
                                    </td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> Minimum </td>
                                    <td> <div align="center"> Service </div></td>
                                    <td>
                                        <div align="right">
                                            150,0000
                                        </div>
                                    </td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>
                                        2.2.7
                                    </td>
                                    <td>
                                        <strong>Human remains</strong>
                                    </td>
                                    <td>
                                        <div align="center">
                                        </div>
                                    </td>
                                    <td>
                                        <div align="right">
                                        </div>
                                    </td>
                                </tr>


                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td> Export </td>
                                    <td> <div align="center"> Service </div></td>
                                    <td>
                                        <div align="right">
                                            700,000
                                        </div>
                                    </td>
                                </tr>


                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp;</td>
                                    <td> Import </td>
                                    <td><div align="center"> Service </div></td>
                                    <td><div align="right"> 1,250,000 </div></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td>&nbsp; </td>
                                    <td colspan="3">- If serving in overtime hours mentioned at <strong>"Surcharge rate for overtime service"</strong>, the overtime surcharge rate will be caculated according <strong>"Surcharge rate for overtime service</strong>" in this adjusted Charge rate announcement</td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="right"><a href="#" class="btn marginT0"><span>Back to top</span></a></div>
                    </td>
                </tr>
                <tr>
                    <td class="text"></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>