
@{
    ViewBag.Title = "TCSCargoHandlingCharges_SurchargeRateForOvertimeService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_container">
    <div>

        <div>
            <ul class="awb_tabs">
                <li><a href="@Url.Action("ImportCargoTracking_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THONG_TIN_HANG_HOA_NHAP_KHAU")</span></a></li>
                <li><a href="@Url.Action("InwardFlightServiceReport_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("IN_BAO_CAO")</span></a></li>
                <li><a href="@Url.Action("NoneDeliveryReport_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HANG_TRONG_KHO")</span></a></li>
                <li><a href="@Url.Action("ExportCargoStatus_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TINH_TRANG_HANG_HOA_XUAT_KHAU")</span></a></li>
                <li><a href="@Url.Action("ExportCargoInWareHouse_default", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HANG_XUAT_KHAU_TRONG_KHO")</span></a></li>
                <li><a href="@Url.Action("ChangePassword", "Airline", "Views")"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THAY_DOI_MAT_KHAU")</span></a></li>

            </ul>
        </div>                <div id="user_profile" style="float:right;">
            <a href="sign_out.php?section=airline&amp;locale=vi_VN">
                @HCSVNewWebsite.Commons.TitleConst.getTitleConst("DANG_XUAT")
            </a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="layout">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="awb_title">
                        @HCSVNewWebsite.Commons.TitleConst.getTitleConst("BANG_GIA_HIEN_HANH")
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="price" width="30%" border="0" align="right" cellpadding="2" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td width="9%">
                                        <img src="../images/arroww.gif" width="11" height="11">
                                    </td>
                                    <td width="91%">
                                        <strong><a href="@Url.Action("TCSCargoHandlingCharges_StorageCharge", "Airline", "Views")">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_LUU_KHO")</a></strong>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../images/arroww.gif" width="11" height="11">
                                    </td>
                                    <td>
                                        <a href="@Url.Action("TCSCargoHandlingCharges_ServiceCharge", "Airline", "Views")">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_PHUC_VU")</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../images/arroww.gif" width="11" height="11">
                                    </td>
                                    <td>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("PHU_THU_GIA_LAO_VU_NGOAI_GIO")</td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="../images/arroww.gif" width="11" height="11">
                                    </td>
                                    <td>
                                        <a href="@Url.Action("TCSCargoHandlingCharges_OtherFees", "Airline", "Views")">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_DICH_VU_KHAC")</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table width="100%" class="tbl02">
                            <tbody>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td width="4%" rowspan="2"> <div align="center">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("STT") </div></td>
                                    <td width="39%" rowspan="2">
                                        <div align="center">
                                           @HCSVNewWebsite.Commons.TitleConst.getTitleConst("NOI_DUNG_CAC_KHOAN_THU")
                                        </div>
                                    </td>
                                    <td width="10%" rowspan="2" align="center"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("DON_VI_TINH")</span></td>
                                    <td width="10%" rowspan="2" align="center"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_LAO_VU_HANG_GUI_LAI_KHO")</span></td>
                                    <td colspan="3" align="center"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("CAC_MUC_PHU_THU")</span></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td width="11%" align="center"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TU_1700_2159_THU2_THU7")</span></td>
                                    <td width="13%" align="center">
                                        <p>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TU_2200_0559_THU2_THU6")</p>
                                        <p>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TU-2200_2359_THU7_VA_0000_0559_THU2")</p>
                                    </td>
                                    <td width="13%" align="center"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NGAY_NGHI_LE_TET")</span></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td><strong>A.</strong></td>
                                    <td height="20" colspan="6" class="tbl01"><strong>Service charge and surcharge for cargo that returns to store in TCS warehouse after TCS delivered</strong></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td width="4%" rowspan="3" align="center" class="tbl01">1</td>
                                    <td width="39%" height="20" class="tbl01"><strong>General Import</strong></td>
                                    <td width="10%" align="center" class="tbl01">&nbsp;</td>
                                    <td width="10%" align="right" class="tbl01">&nbsp;</td>
                                    <td width="11%" align="right" class="tbl01">&nbsp;</td>
                                    <td width="13%" align="right" class="tbl01">&nbsp;</td>
                                    <td width="13%" align="right" class="tbl01">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Unit price </td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">560</td>
                                    <td align="right" class="tbl01">50</td>
                                    <td align="right" class="tbl01">101</td>
                                    <td align="right" class="tbl01">151</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum price </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">75,000</td>
                                    <td align="right" class="tbl01">7,000</td>
                                    <td align="right" class="tbl01">14,000</td>
                                    <td align="right" class="tbl01">20,000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="3" align="center" class="tbl01">2</td>
                                    <td class="tbl01"><strong>Import cargo Express</strong></td>
                                    <td align="center" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Unit price </td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">1.250</td>
                                    <td align="right" class="tbl01">113</td>
                                    <td align="right" class="tbl01">225</td>
                                    <td align="right" class="tbl01">338</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum price </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">75,000</td>
                                    <td align="right" class="tbl01">7,000</td>
                                    <td align="right" class="tbl01">14,000</td>
                                    <td align="right" class="tbl01">20,000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="3" align="center" class="tbl01">3</td>
                                    <td class="tbl01"><strong>Perishable cargo</strong></td>
                                    <td align="center" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Unit price </td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">625</td>
                                    <td align="right" class="tbl01">56</td>
                                    <td align="right" class="tbl01">113</td>
                                    <td align="right" class="tbl01">169</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum price </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">75.000</td>
                                    <td align="right" class="tbl01">7.000</td>
                                    <td align="right" class="tbl01">14.000</td>
                                    <td align="right" class="tbl01">20.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="3" align="center" class="tbl01">4</td>
                                    <td class="tbl01"><strong>Valuable cargo</strong></td>
                                    <td align="center" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Unit price </td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">2.625</td>
                                    <td align="right" class="tbl01">236</td>
                                    <td align="right" class="tbl01">473</td>
                                    <td align="right" class="tbl01">709</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum price </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">500.000</td>
                                    <td align="right" class="tbl01">45.000</td>
                                    <td align="right" class="tbl01">90.000</td>
                                    <td align="right" class="tbl01">135.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="3" align="center" class="tbl01">5</td>
                                    <td class="tbl01"><strong>Livestock</strong></td>
                                    <td align="center" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Unit price </td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">1.250</td>
                                    <td align="right" class="tbl01">113</td>
                                    <td align="right" class="tbl01">225</td>
                                    <td align="right" class="tbl01">338</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum price </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">125.000</td>
                                    <td align="right" class="tbl01">11.000</td>
                                    <td align="right" class="tbl01">23.000</td>
                                    <td align="right" class="tbl01">34.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="2" align="center" class="tbl01">6</td>
                                    <td class="tbl01"><strong>Human remains</strong></td>
                                    <td align="center" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Unit price </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">625.000</td>
                                    <td align="right" class="tbl01">56.000</td>
                                    <td align="right" class="tbl01">113.000</td>
                                    <td align="right" class="tbl01">169.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td><strong>B.</strong></td>
                                    <td colspan="6"><strong>Surcharge rate for overtime service</strong></td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="2" align="center" class="tbl01">1</td>
                                    <td class="tbl01"><strong>General Export cargo</strong></td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">68</td>
                                    <td align="right" class="tbl01">137</td>
                                    <td align="right" class="tbl01">205</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum</td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">15.000</td>
                                    <td align="right" class="tbl01">15.000</td>
                                    <td align="right" class="tbl01">15.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="11" align="center" class="tbl01">2</td>
                                    <td class="tbl01"><strong>General Import cargo</strong></td>
                                    <td align="center" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered between 1.5 to 3 hours after ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">450</td>
                                    <td align="right" class="tbl01">900</td>
                                    <td align="right" class="tbl01">1.350</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum charge</td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">27.000</td>
                                    <td align="right" class="tbl01">54.000</td>
                                    <td align="right" class="tbl01">81.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered between 3 to 6 hours after ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">315</td>
                                    <td align="right" class="tbl01">630</td>
                                    <td align="right" class="tbl01">945</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum charge</td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">27.000</td>
                                    <td align="right" class="tbl01">54.000</td>
                                    <td align="right" class="tbl01">81.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered between 6 to 9 hours after ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">225</td>
                                    <td align="right" class="tbl01">450</td>
                                    <td align="right" class="tbl01">675</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum charge</td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">13.500</td>
                                    <td align="right" class="tbl01">27.000</td>
                                    <td align="right" class="tbl01">40.500</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered between 9 to 12 hours after ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">162</td>
                                    <td align="right" class="tbl01">324</td>
                                    <td align="right" class="tbl01">486</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum charge</td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">13.500</td>
                                    <td align="right" class="tbl01">27.000</td>
                                    <td align="right" class="tbl01">40.500</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered after 12 hours ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">101</td>
                                    <td align="right" class="tbl01">202</td>
                                    <td align="right" class="tbl01">302</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum charge</td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">13.500</td>
                                    <td align="right" class="tbl01">27.000</td>
                                    <td align="right" class="tbl01">40.500</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="7" align="center" class="tbl01">3</td>
                                    <td class="tbl01"><strong>Import Express cargo</strong></td>
                                    <td align="center" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered between 1.5 to 3 hours after ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">450</td>
                                    <td align="right" class="tbl01">900</td>
                                    <td align="right" class="tbl01">1.350</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum charge </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">27.000</td>
                                    <td align="right" class="tbl01">54.000</td>
                                    <td align="right" class="tbl01">81.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered between 3 to 6 hours after ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">315</td>
                                    <td align="right" class="tbl01">630</td>
                                    <td align="right" class="tbl01">945</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum charge </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">27.000</td>
                                    <td align="right" class="tbl01">54.000</td>
                                    <td align="right" class="tbl01">81.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered between 6 to 9 hours after ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">225</td>
                                    <td align="right" class="tbl01">450</td>
                                    <td align="right" class="tbl01">675</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum charge </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">13.500</td>
                                    <td align="right" class="tbl01">27.000</td>
                                    <td align="right" class="tbl01">40.500</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="7" align="center" class="tbl01">4</td>
                                    <td class="tbl01"><strong>Import Perishable cargo</strong></td>
                                    <td align="center" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered between 1.5 to 3 hours after ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">405</td>
                                    <td align="right" class="tbl01">810</td>
                                    <td align="right" class="tbl01">1.215</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Minimum charge </td>
                                    <td align="center" class="tbl01">VND/service </td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">27.000</td>
                                    <td align="right" class="tbl01">54.000</td>
                                    <td align="right" class="tbl01">81.000</td>
                                </tr>

                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td class="tbl01">Cargo delivered between 3 to 6 hours after ATA</td>
                                    <td align="center" class="tbl01">VND/Kg</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">284</td>
                                    <td align="right" class="tbl01">567</td>
                                    <td align="right" class="tbl01">851</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Minimum charge </td>
                                    <td align="center">VND/service </td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">27.000</td>
                                    <td align="right">54.000</td>
                                    <td align="right">81.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Cargo delivered after 6 hours ATA</td>
                                    <td align="center">VND/Kg</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">113</td>
                                    <td align="right">225</td>
                                    <td align="right">338</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Minimum charge </td>
                                    <td align="center">VND/service </td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">13.500</td>
                                    <td align="right">27.000</td>
                                    <td align="right">40.500</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td rowspan="5" align="center">5</td>
                                    <td><strong>Valuable cargo</strong></td>
                                    <td align="center">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Export cargo </td>
                                    <td align="center">VND/Kg</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">473</td>
                                    <td align="right">945</td>
                                    <td align="right">1.418</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Minimum price </td>
                                    <td align="center">VND/service </td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">100.000</td>
                                    <td align="right">100.000</td>
                                    <td align="right">100.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Import cargo </td>
                                    <td align="center">VND/Kg</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">473</td>
                                    <td align="right">945</td>
                                    <td align="right">1.418</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Minimum price </td>
                                    <td align="center">VND/service </td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">90.000</td>
                                    <td align="right">180.000</td>
                                    <td align="right">270.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td rowspan="5" align="center">6</td>
                                    <td><strong>Livestock</strong></td>
                                    <td align="center">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Export cargo </td>
                                    <td align="center">VND/Kg</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">86</td>
                                    <td align="right">171</td>
                                    <td align="right">257</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Minimum price </td>
                                    <td align="center">VND/service </td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">25.000</td>
                                    <td align="right">25.000</td>
                                    <td align="right">25.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Import cargo </td>
                                    <td align="center">VND/Kg</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">225</td>
                                    <td align="right">450</td>
                                    <td align="right">675</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Minimum price </td>
                                    <td align="center">VND/service </td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">22.500</td>
                                    <td align="right">45.000</td>
                                    <td align="right">67.500</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td rowspan="3" align="center">7</td>
                                    <td><strong>Vulnerable cargo (VUN)</strong></td>
                                    <td align="center">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Export cargo </td>
                                    <td align="center">VND/Kg</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">77</td>
                                    <td align="right">153</td>
                                    <td align="right">230</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Minimum price </td>
                                    <td align="center">VND/service </td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">20.000</td>
                                    <td align="right">20.000</td>
                                    <td align="right">20.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td rowspan="3" align="center">8</td>
                                    <td><strong>Dangerous good (DRG)</strong></td>
                                    <td align="center">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Export cargo </td>
                                    <td align="center">VND/Kg</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">130</td>
                                    <td align="right">259</td>
                                    <td align="right">389</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Minimum price </td>
                                    <td align="center">VND/service </td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">20.000</td>
                                    <td align="right">20.000</td>
                                    <td align="right">20.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                    <td rowspan="3" align="center" class="tbl01">9</td>
                                    <td class="tbl01"><strong>Human remains</strong></td>
                                    <td align="center" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                    <td align="right" class="tbl01">&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Export cargo </td>
                                    <td align="center">VND/Kg</td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">63.000</td>
                                    <td align="right">126.000</td>
                                    <td align="right">189.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td>Import cargo </td>
                                    <td align="center">VND/service </td>
                                    <td align="right">&nbsp;</td>
                                    <td align="right">125.000</td>
                                    <td align="right">250.000</td>
                                    <td align="right">375.000</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                                    <td colspan="7">
                                        <p>C. <strong>The free storage policy for general export and import cargo</strong></p>
                                        <p>TCS remains unchanged the free storage charge policy as follows:</p>
                                        <p>- General import cargo : Free storage charge for 02 days from flight arrival day ( including Sunday and Public Holiday, if any), Sundays, Public Holidays and delivered day.</p>
                                        <p>- General export cargo : Free storage charge for 02 days from acceptance day ( including Sunday and Public Holidays, if any), Sundays, Public Holidays and booking flight day.</p>
                                        <p>- The computation of storage charge per calendar day.</p>
                                        <p><em>( All prices are not VAT included)</em></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="right"><a href="#" class="btn marginT0"><span>Back to top</span></a></div>
                    </td>
                </tr>
                <tr>
                    <td class="text"></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>

