@model HCSV.Business.Models.ContentModel<HCSV.Models.jos_content>
@using HCSV.Core
@using HCSV.Resources
@using PagedList.Mvc

@{
    ViewBag.Title = @HttpContext.Current.Application[HCSV.Core.Constants.Page.PAGE_TITLE];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="pb-0">
        <div class="section-content">
           
                <div class="news_part">
                    <div class="news_item">
                        @if ((Model.ListValues != null) && Model.ListValues.Any())
                        {
                            foreach (var item in Model.ListValues)
                            {
                                <div class="item_news_css">


                                <div class="row_item_new_css">
                                    <div class="item_img_css item_img_1_css">
                                        @{
                        if (String.IsNullOrEmpty(item.images))
                        {
                                <img src="~/Content/TcsNewTemplate/images/tcs_news_1.jpg" />
                        }
                        else
                        {
                                <img src="@Html.Raw(item.images)"/>
                        }
                                        }
                                    </div>

                                    <div class="item_info_css item_info_8_css">
                                        <div class="item_info_1 item_info_9">
                                            <a href="@UrlExtentions.Action(GlobalResource.URL_TIN_TUC, item.catid, item.title, item.id)" class="link">@Html.Raw(item.title)</a>
                                        </div>
                                        <div class="item_info_2">
                                            <span class="news_time">@Html.Raw(((DateTime)item.publish_up).ToString(HCSV.Core.Constants.DATE_FORMAT_DD_MM_YYYY))</span>
                                        </div>

                                        <div class="item_intro_css">
                                            @Html.Raw(item.introtext)
                                        </div>
                                        <div style="display:none" class="mt-10">
                                            <a href="@UrlExtentions.Action(GlobalResource.URL_TIN_TUC, item.catid, item.title, item.id)" class="btn btn-default btn-theme-colored mt-10 font-16 btn-sm">@GlobalResource.XEM_TIEP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            
                            
                                
                            }
                            <div class="paging">
                                @Html.PagedListPager(Model.ListValues, page => Url.Action("Index", new { page, menu = ViewBag.Menu, catID = ViewBag.CatID }), new PagedListRenderOptions()
                       {
                           UlElementClasses = new List<string> { "pagination theme-colored" }
                       })
                            </div>
                        }

                        </div>
                    </div>
                  
        </div>
    </div>
</section>
