@model HCSV.Business.Models.ContentModel<HCSV.Models.jos_content>
@using HCSV.Core
@using HCSV.Resources
@using PagedList.Mvc

@{
    ViewBag.Title = @HttpContext.Current.Application[HCSV.Core.Constants.Page.PAGE_TITLE];
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if ((Model.ListValues != null) && Model.ListValues.Any())
{
    foreach (var item in Model.ListValues)
    {
        <div class="section-top-border">
            <div>
                <h3 class="mb-30">
                    <a href="@UrlExtentions.Action(GlobalResource.URL_TIN_TUC, item.catid, item.title, item.id)" class="link">@Html.Raw(item.title)</a>
                </h3>
                <h5><a href="#">@Html.Raw(((DateTime)item.publish_up).ToString(HCSV.Core.Constants.DATE_FORMAT_DD_MM_YYYY))<i class="lnr lnr-calendar-full"></i></a></h5>

            </div>
            <div class="row">
                <div class="col-md-3">
                    @if (String.IsNullOrEmpty(item.images) && File.Exists(item.images))
                    {
                        <img src="~/Content/BoostrapTemplate/img/tcs_news_1.jpg" alt="" class="img-fluid"/>
                    }
                    else
                    {
                        <img src="@item.images" alt="" class="img-fluid"/>
                    }
                </div>
                <div class="col-md-9 mt-sm-20">
                    @Html.Raw(item.introtext)
                </div>
            </div>
        </div>
    }

    <div class="paging">
        Page @(Model.ListValues.PageCount < Model.ListValues.PageNumber ? 0 : Model.ListValues.PageNumber) of @Model.ListValues.PageCount
        @Html.PagedListPager(Model.ListValues, page => Url.Action("Index", new { page }))
    </div>
}


