@model List<HCSV.Models.jos_links>
@using System.Runtime.Versioning
@using System.Text
@using HCSV.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Portfolio Gallery Grid -->
                    <div id="grid" class="gallery-isotope grid-4 gutter clearfix" style="position: relative; height: 590.532px;">

                        @if (Model != null && Model.Any())
                        {
                            int i = 0;
                            StringBuilder desc = null;
                            foreach (var item in Model)
                            {
                                i++;
                                desc = new StringBuilder();
                                <div class="photography gallery-item" id="@Html.Raw("tholder" + i)" style="position: absolute; left: 0px; top: 0px;">
                                    <div class="thumb">
                                        <img class="img-fluid" src="@Html.Raw(item.image)" alt="project">
                                    </div>
                                    <div class="overlay-shade"></div>
                                    <div class="icons-holder">
                                        <div class="icons-holder-inner">
                                            <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                                <a href="@Html.Raw(item.link)"><i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tooltip" id="@Html.Raw("tt_tholder" + i)" style="display: none;">
                                    <table width="190">
                                        <tbody>
                                            <tr>
                                                <td width="60" align="left" valign="top">@GlobalResource.DIA_CHI:</td>
                                                <td align="left">@Html.Raw(item.address)</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">@GlobalResource.DIEN_THOAI:</td>
                                                <td align="left">@Html.Raw(item.phone)</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">@GlobalResource.FAX:</td>
                                                <td align="left">@Html.Raw(item.fax)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript" src="/Content/Theme/js/tooltip.js"></script>
    <script>
        $(document).ready(function () {
            $(".photography").tooltip({
                position: 'top center',
                relative: false,
                prefix_tip_id: 'tt_',
                offset: [0, -120]
            });
        });
    </script>
}
@section styles{
    <style>
        .photography {
            cursor: pointer;
            border: 1px solid #cccccc;
            padding: 9px 19px;
            text-align: center;
            height: 102px;
        }

            .photography img {
                margin: 0px auto;
            }
    </style>
}