@model HCSV.Business.Models.DashbroadModel
@using HCSV.Resources
@using HCSV.Core
@using System.IO
@using System.Runtime.Versioning
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = HttpContext.Current.Application[Constants.Page.PAGE_TITLE];
}
<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col_intro">
                <div class="intro_css intro_1_css"></div>
                @if (Model != null && Model.MissionArea != null)
                {
                    <div class="single-property cont_css">
                        <div class="images img_css">
                            @if (Model.MissionArea.images != null)
                            {
                                @*<img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s2.jpg" alt="">*@
                                @Html.Raw(Model.MissionArea.images)
                            }
                            else
                            {
                                <img class="img-fluid" src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="">
                            }
                        </div>

                        <div class="intro_title">@Html.Raw(Model.MissionArea.title)</div>

                        <div class="desc">
                            <div class="text-wrap">
                                <p>
                                    @Html.Raw(Model.MissionArea.introtext)
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="intro_readmore">
                            <a href="/News/Details?contentID=@Model.MissionArea.id&menu=@Model.MissionArea.catid">@HCSV.Resources.GlobalResource.XEM_TIEP</a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4 col_intro">
                <div class="intro_css intro_2_css"></div>
                @if (Model != null && Model.VisionArea != null)
                {
                    <div class="single-property cont_css">
                        <div class="images img_css">
                            @if (Model.VisionArea.images != null)
                            {
                                @*<img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s2.jpg" alt="">*@
                                @Html.Raw(Model.VisionArea.images)
                            }
                            else
                            {
                                <img class="img-fluid" src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="">
                            }
                        </div>

                        <div class="intro_title">@Html.Raw(Model.VisionArea.title)</div>

                        <div class="desc">
                            <div class="text-wrap">
                                <p>
                                    @Html.Raw(Model.VisionArea.introtext)
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="intro_readmore">
                            <a href="/News/Details?contentID=@Model.VisionArea.id&menu=@Model.VisionArea.catid">@HCSV.Resources.GlobalResource.XEM_TIEP</a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4 col_intro">
                <div class="intro_css intro_3_css"></div>
                @if (Model != null && Model.ValueArea != null)
                {
                    <div class="single-property cont_css">
                        <div class="images img_css">
                            @if (Model.ValueArea.images != null)
                            {
                                @*<img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s2.jpg" alt="">*@
                                @Html.Raw(Model.ValueArea.images)
                            }
                            else
                            {
                                <img class="img-fluid" src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="">
                            }
                        </div>

                        <div class="intro_title">@Html.Raw(Model.ValueArea.title)</div>

                        <div class="desc">
                            <div class="text-wrap">
                                <p>
                                    @Html.Raw(Model.ValueArea.introtext)
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="intro_readmore">
                            <a href="/News/Details?contentID=@Model.ValueArea.id&menu=@Model.ValueArea.catid">@HCSV.Resources.GlobalResource.XEM_TIEP</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<hr />
<section class="blog-area mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="mt-30">@Html.Raw(GlobalResource.TIN_DANH_CHO_KH)</h3>
                @if (Model != null && Model.CustomerNews.Any())
                {
                    foreach (var item in Model.CustomerNews)
                    {
                        <div class="section-top-border">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="thumb">
                                        @if (item.images != null)
                                        {
                                            <img class="img-fluid" src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="">
                                            @*@Html.Raw(item.images)*@
                                        }
                                        else
                                        {
                                            <img class="img-fluid" src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-7 mt-sm-20">
                                    <a href="@HCSV.Core.UrlHelper.Action(GlobalResource.URL_TIN_TUC, item.catid, item.title, item.id)"> @Html.Raw(item.title)</a>
                                    <div class="meta-bottom d-flex">
                                        <p><span class="lnr lnr-calendar-full"></span> @item.publish_up</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="mt-30">@Html.Raw(GlobalResource.TIN_TCS)</h3>
                @if (Model != null && Model.TcsNews.Any())
                {
                    foreach (var item in Model.TcsNews)
                    {
                        <div class="section-top-border">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="thumb">
                                        @if (item.images != null)
                                        {
                                            <img class="img-fluid" src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="">
                                            @*@Html.Raw(item.images)*@
                                        }
                                        else
                                        {
                                            <img class="img-fluid" src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-7 mt-sm-20">
                                    <a href="@HCSV.Core.UrlHelper.Action(GlobalResource.URL_TIN_TUC, item.catid, item.title, item.id)"> @Html.Raw(item.title)</a>
                                    <div class="meta-bottom d-flex">
                                        <p><span class="lnr lnr-calendar-full"></span> @item.publish_up</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="mt-30">@Html.Raw(GlobalResource.TIN_CHUYEN_NGANH)</h3>
                @if (Model != null && Model.IndustrialNews.Any())
                {
                    foreach (var item in Model.IndustrialNews)
                    {
                        <div class="section-top-border">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="thumb">
                                        @if (item.images != null)
                                        {
                                            <img class="img-fluid" src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="">
                                            @*@Html.Raw(item.images)*@
                                        }
                                        else
                                        {
                                            <img class="img-fluid" src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-7 mt-sm-20">
                                    <a href="@HCSV.Core.UrlHelper.Action(GlobalResource.URL_TIN_TUC, item.catid, item.title, item.id)"> @Html.Raw(item.title)</a>
                                    <div class="meta-bottom d-flex">
                                        <p><span class="lnr lnr-calendar-full"></span> @item.publish_up</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
