@model HCSV.Business.Models.DashbroadModel
@using HCSV.Resources
@using HCSV.Core
@using System.IO
@using System.Runtime.Versioning
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = HttpContext.Current.Application[Constants.Page.PAGE_TITLE];
}
<section class="blog-area">
    <div class="row">
        <div class="bg_hot_news_css">
            <!-----------------------------------BEGIN: Mission, Vission, Core value-------------------------------------->
            <div class="col-lg-4">
                <div class="col_intro">
                    <div class="intro_css">
                        <img src="~/Content/BoostrapTemplate/img/intro_1.jpg" />
                    </div>
                    <div class="cont_css">

                        @if (Model != null && Model.MissionArea != null)
                        {
                            <div class="intro_img">
                                @if (Model.MissionArea.images != null)
                                {

                                    <img src=" @Html.Raw(Model.MissionArea.images) " alt=" " class=" img-responsive img-fullwidth">
                                }
                                else
                                {
                                    <img src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="" class="img-responsive img-fullwidth">
                                }
                            </div>
                            <div class="intro_title">
                                @Html.Raw(Model.MissionArea.title)
                            </div>
                            <div class="intro_content">
                                @Html.Raw(Model.MissionArea.introtext)
                            </div>
                            <div class="intro_readmore"><a href="@UrlExtentions.Action(GlobalResource.URL_SU_MENH, Model.MissionArea.catid, Model.MissionArea.title, Model.MissionArea.id)">@HCSV.Resources.GlobalResource.XEM_TIEP</a></div>
                        }


                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="col_intro">
                    <div class="intro_css">
                        <img src="~/Content/BoostrapTemplate/img/intro_2.jpg" />
                    </div>
                    <div class="cont_css">

                        @if (Model != null && Model.VisionArea != null)
                        {
                            <div class="intro_img">
                                @if (Model.VisionArea.images != null)
                                {

                                    <img src=" @Html.Raw(Model.VisionArea.images) " alt=" " class=" img-responsive img-fullwidth">
                                }
                                else
                                {
                                    <img src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="" class="img-responsive img-fullwidth">
                                }
                            </div>
                            <div class="intro_title">
                                @Html.Raw(Model.VisionArea.title)
                            </div>
                            <div class="intro_content">
                                @Html.Raw(Model.VisionArea.introtext)
                            </div>
                            <div class="intro_readmore"><a href="@UrlExtentions.Action(GlobalResource.URL_TAM_NHIN, Model.VisionArea.catid, Model.VisionArea.title, Model.VisionArea.id)">@HCSV.Resources.GlobalResource.XEM_TIEP</a></div>
                        }


                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="col_intro">
                    <div class="intro_css">
                        <img src="~/Content/BoostrapTemplate/img/intro_2.jpg" />
                    </div>
                    <div class="cont_css">

                        @if (Model != null && Model.ValueArea != null)
                        {
                            <div class="intro_img">
                                @if (Model.ValueArea.images != null)
                                {

                                    <img src=" @Html.Raw(Model.ValueArea.images) " alt=" " class=" img-responsive img-fullwidth">
                                }
                                else
                                {
                                    <img src="~/Content/BoostrapTemplate/img/n0_image_available.png" alt="" class="img-responsive img-fullwidth">
                                }
                            </div>
                            <div class="intro_title">
                                @Html.Raw(Model.ValueArea.title)
                            </div>
                            <div class="intro_content">
                                @Html.Raw(Model.ValueArea.introtext)
                            </div>
                            <div class="intro_readmore"><a href="@UrlExtentions.Action(GlobalResource.URL_GIA_TRI_COT_LOI, Model.ValueArea.catid, Model.ValueArea.title, Model.ValueArea.id)">@HCSV.Resources.GlobalResource.XEM_TIEP</a></div>
                        }


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="blog-area hot_news_css">
    <div class="row">
            <div class="col-lg-4 news_css">
                <div class="title_news_css">
                    <a href="#" class="btnNext_1">
                        @Html.Raw(GlobalResource.TIN_DANH_CHO_KH)
                    </a>
                </div>

                @if (Model != null && Model.CustomerNews.Any())
                {
                    foreach (var item in Model.CustomerNews)
                    {
                        <div class="section-top-border mt-30">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="thumb img-border">
                                        @if (item.images != null)
                                        {
                                            <img class="img-fluid" src="@Html.Raw(item.images)" alt="">

                                        }
                                        else
                                        {
                                            <img class="img-fluid" src="Media/tcs_news.jpg" alt="">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-7 mt-sm-20">
                                    <a href="@UrlExtentions.Action(GlobalResource.URL_TIN_TUC, item.catid, item.title, item.id)"> @Html.Raw(item.title)</a>
                                    <div class="meta-bottom d-flex">
                                        <span class="news_time">@item.publish_up</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>

            <div class="col-lg-4 news_css">                
                <div class="title_news_css">
                    <a href="#" class="btnNext_1">
                        @Html.Raw(GlobalResource.TIN_TCS)
                    </a>
                </div>

                @if (Model != null && Model.TcsNews.Any())
                {
                    foreach (var item in Model.TcsNews)
                    {
                        <div class="section-top-border  mt-30">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="thumb img-border">
                                        @if (item.images != null)
                                        {
                                            <img class="img-fluid" src="@Html.Raw(item.images)" alt="">
                                        }
                                        else
                                        {
                                            <img class="img-fluid" src="Media/tcs_news.jpg" alt="">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-7 mt-sm-20">
                                    <a href="@UrlExtentions.Action(GlobalResource.URL_TIN_TUC, item.catid, item.title, item.id)"> @Html.Raw(item.title)</a>
                                    <div class="meta-bottom d-flex">
                                        <span class="news_time">@item.publish_up</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>

            <div class="col-lg-4 news_css">
                <div class="title_news_css">
                    <a href="#" class="btnNext_1">
                        @Html.Raw(GlobalResource.TIN_CHUYEN_NGANH)
                    </a>
                </div>
                @if (Model != null && Model.IndustrialNews.Any())
                {
                    foreach (var item in Model.IndustrialNews)
                    {
                        <div class="section-top-border  mt-30">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="thumb img-border">
                                        @if (item.images != null)
                                        {
                                            <img class="img-fluid" src="@Html.Raw(item.images)" alt="">
                                        }
                                        else
                                        {
                                            <img class="img-fluid" src="Media/tcs_news.jpg" alt="">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-7 mt-sm-20">
                                    <a href="@UrlExtentions.Action(GlobalResource.URL_TIN_TUC, item.catid, item.title, item.id)"> @Html.Raw(item.title)</a>
                                    <div class="meta-bottom d-flex">
                                        <span class="news_time">@item.publish_up</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
</section>
