@using HCSV.Core
@if (Request.Url.PathAndQuery == "/")
{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <section class="home-banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen align-items-end justify-content-center" style="height: 913px;">
                <div class="banner-content col-lg-12 col-md-12" style="padding:10px;">
                    <<ul class="nav nav-tabs" style="background:#fff; ">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                    </ul>
                    <br>
                    <p style="background:#fff;"><strong>Note:</strong> This example shows how to create a basic navigation tab. It is not toggleable/dynamic yet (you can't click on the links to display different content)- see the last example in the Bootstrap Tabs and Pills Tutorial to find out how this can be done.</p>

                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="hundred_percent_css banner_1_css">
        <div class="inner_banner">
            @Html.Raw(@HttpContext.Current.Application[HCSV.Core.Constants.PAGE_BANNER])
        </div>
        <div class="bg_content_css title_banner_css">
            <div class="main_title_banner_css">@HttpContext.Current.Application[Constants.PARENT_MENU_TITLE]</div>
            <div class="breadcrumbs_css">
                <p><a href="#">@HttpContext.Current.Application[Constants.PARENT_MENU_TITLE]</a> » <a href="#">@HttpContext.Current.Application[Constants.MENU_TITLE]</a></p>
            </div>
        </div>
        <div class="bg_content_css"><h2><span>@HttpContext.Current.Application[Constants.MENU_TITLE]</span></h2></div>
    </div>
}