@using HCSV.Core
@if (Request.Url.PathAndQuery == "/")
{
    <style>
        .awb_bg_1_css {
            background: #cccccc;
            opacity: 0.35;
            filter: alpha(opacity=35);
            width: 996px;
            height: 177px;
            margin: -74px 0 20px 0;
            z-index: 99;
            position: relative;
            border: 1px solid #808080;
        }

        .awb_tab_0 {
            /* -webkit-border-radius: 12px; */
            /* -moz-border-radius: 12px; */
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            float:left;
        }

        .awb_tab_1 {
            width: 226px;
            height: 57px;
            background: #ffffff;
            position: relative;
            z-index: 999;
        }
        .awb_tab_0 span {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 22px;
    display: block;
    text-align: center;
}
    </style>
    <section class="home-banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen align-items-end justify-content-center" style="height: 913px;">
                <div class="banner-content col-lg-12 col-md-12">
                    
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="hundred_percent_css banner_1_css">
        <div class="inner_banner">
            @Html.Raw(@HttpContext.Current.Application[HCSV.Core.Constants.PAGE_BANNER])
        </div>
        <div class="bg_content_css title_banner_css">
            <div class="main_title_banner_css">@HttpContext.Current.Application[Constants.PARENT_MENU_TITLE]</div>
            <div class="breadcrumbs_css">
                <p><a href="#">@HttpContext.Current.Application[Constants.PARENT_MENU_TITLE]</a> » <a href="#">@HttpContext.Current.Application[Constants.MENU_TITLE]</a></p>
            </div>
        </div>
        <div class="bg_content_css"><h2><span>@HttpContext.Current.Application[Constants.MENU_TITLE]</span></h2></div>
    </div>
}