@{    
    int intMenu = HCSVNewWebsite.Commons.Commons.getActiveMenu(Request);    
    HCSVNewWebsite.Models.cpanelEntities entities = new HCSVNewWebsite.Models.cpanelEntities();
    int intLangID = HCSVNewWebsite.Commons.Commons.getLanguageID(Request, entities);
    var objMenu = entities.jos_menu.Find(intMenu);
    int intParentMenuID = 0;
    int intMenuID = objMenu == null ? 0 : objMenu.id;
    if ((objMenu != null) && (objMenu.parent == 0))
    {
        intParentMenuID = objMenu.id;
    }
    else if ((objMenu != null) && (objMenu.parent != 0))
    {
        intParentMenuID = (int)objMenu.parent;
    }
    //get List of Left Menus
    var lstLeftMenu = HCSVNewWebsite.Commons.Commons.getListOfTranslation_LeftMenus (intMenuID, intParentMenuID, intLangID, entities);
}

@{
    if ((intMenu != HCSVNewWebsite.Commons.Commons.NUMBER_INVALID_INTEGER) && (!HCSVNewWebsite.Commons.Commons.checkFullScreen(Request))) //Login AWB Tracking 
    {
        <div class="content_left">                     
            @Html.Partial("_AWB_Tracking") <!--AWB Tracking -->
            @if (HCSVNewWebsite.Commons.Commons.checkHomePage(this.Request))
            { //Home Page
            
                <h1>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("LIEN_KET_NHANH")</h1>                
                <div class="content_left_bg links home_page_css">
                    @Html.Raw(HCSVNewWebsite.Commons.Commons.drawLeftMenusOnHomePage(intLangID, entities))
                </div>  
    
                <p style="text-align: center;">
                    <img style="solid black" class="center" @Html.Raw(HCSVNewWebsite.Commons.Commons.convertContent("src=\"assets/LOGO_ISA_ISO_TAPAab13.jpg?r=74167\"")) width="200" height="150" /></p>

                <p style="text-align: center; border-top:1px solid #e7e7e7;">
                    <div class="quangcao_new">
                        <a href=service/v-n-ph-ng-cho-thu/d-ch-v-v-n-ph-ng-cho-thu>
                            <img style="solid black" class="center"
                                 @Html.Raw(HCSVNewWebsite.Commons.Commons.convertContent("src=\"assets/IMG_6875-Recoveredab13.gif?r=74167\"")) width="245" height="190" /></a>
                    </div>
                </p>      
            }
            else //not Home page
            {
                <div class="nav">
	                <ul>
		                @{
                            if (lstLeftMenu != null && lstLeftMenu.Count() > 0)
                            {
                                foreach (var item in lstLeftMenu)
                                {

                                    <li class="@Html.Raw(@item.id == @intMenu?"current":"link")"><a href="@item.link">@Html.Raw(item.name)</a></li>
                                }
                            }
                        }
			        </ul>
                </div>
            }
        </div>
    }
    else
    {
        <style>
            .content_right {
                width: 100%;
            }
            .inner_banner {
                width: 100%;
            }
        </style>
    }
}
