@using HCSV.Core
@if (Request.Url != null && Request.Url.PathAndQuery == "/")
{
    <section class="home-banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen align-items-end justify-content-center" style="height: 913px;">
                <div class="col-lg-12 col-md-12" style="padding: 10px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Tra cứu vận đơn</a></li>
                        <li><a data-toggle="tab" href="#menu1">Các hãng hàng không</a></li>
                        <li><a data-toggle="tab" href="#menu2">Thống kê</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>HOME</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Menu 2</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="hundred_percent_css banner_1_css">
        <div class="inner_banner">
            @Html.Raw(@HttpContext.Current.Application[HCSV.Core.Constants.Page.PAGE_BANNER])
        </div>
        <div class="bg_content_css title_banner_css">
            <div class="main_title_banner_css">@HttpContext.Current.Application[Constants.Page.PARENT_MENU_TITLE]</div>
            <div class="breadcrumbs_css">
                <p><a href="#">@HttpContext.Current.Application[Constants.Page.PARENT_MENU_TITLE]</a> » <a href="#">@HttpContext.Current.Application[Constants.Page.MENU_TITLE]</a></p>
            </div>
        </div>
        <div class="bg_content_css"><h2><span>@HttpContext.Current.Application[Constants.Page.MENU_TITLE]</span></h2></div>
    </div>
}