@{
    ViewBag.Title = "InfoTracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_container">

    <div>
        <div>
            <ul class="awb_tabs">
                <li class="current"><a href="/AWBTracking_Agent/InfoTracking"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THONG_TIN_HANG_HOA")</span></a></li>
                <li><a href="/AWBTracking_Agent/PrintReport"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("IN_BAO_CAO")</span></a></li>
                <li><a href="/AWBTracking_Agent/Storage"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("HANG_TRONG_KHO")</span></a></li>
                <li><a href="/AWBTracking_Agent/ChangePass"><span>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("THAY_DOI_MAT_KHAU")</span></a></li>
            </ul>
        </div>
        <div id="user_profile" style="float:right;">
            <a href="/Home/Index?frontPage=1&menu=39">
                @HCSVNewWebsite.Commons.TitleConst.getTitleConst("DANG_XUAT")
            </a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="layout">


        <title>TCS - A Joint Venture between VIETNAM AIRLINES, SASCO and SATS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="css/awb_main.css" type="text/css">
        <script language="javascript">
            function visitSite(the_site) {
                window.location = the_site;
            }
        </script>

        @Html.Partial("SearchKVD") <!--gọi form tìm kiếm không vận đơn -->

        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                <tr valign="top">
                    <td>

                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#eaeaea">
                                    <td>
                                        <div align="center">
                                            <span class="awb_title">
                                                @HCSVNewWebsite.Commons.TitleConst.getTitleConst("TINH_TRANG_HANG_NHAP")
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="form awb_tbl02" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td colspan="5" valign="top">
                                                        <table class="form awb_tbl02" width="100%">
                                                            <tbody>
                                                                <tr class="form">
                                                                    <td>
                                                                        <strong>
                                                                            @HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_KHONG_VAN_DON")
                                                                            :695-08965342
                                                                        </strong>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                    <td class="awb_title" align="center" width="200">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NOI_XUAT_PHAT")</td>
                                                    <td class="awb_title" align="center" width="200">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NOI_DEN")</td>
                                                    <td class="awb_title" align="center" width="200">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_KIEN_HANG")</td>
                                                    <td colspan="2" class="awb_title" align="center" width="200">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TRONG_LUONG")</td>
                                                </tr>
                                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                    <td valign="top">
                                                        <div align="center">
                                                            NGB                    &nbsp;
                                                        </div>
                                                    </td>
                                                    <td valign="top">
                                                        <div align="center">
                                                            SGN                    &nbsp;
                                                        </div>
                                                    </td>
                                                    <td valign="top">
                                                        <div align="center">
                                                            1                    &nbsp;
                                                        </div>
                                                    </td>
                                                    <td valign="top">
                                                        <div align="center">
                                                            88                    (kg)&nbsp;
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                    <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NGUOI_GOI")</strong></td>
                                                    <td colspan="4" valign="top">
                                                        NINGBO                  &nbsp;
                                                    </td>
                                                </tr>
                                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                    <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("DIA_CHI")</strong></td>
                                                    <td colspan="4" valign="top">
                                                        NGB                  &nbsp;
                                                    </td>
                                                </tr>
                                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                    <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("NGUOI_NHAN")</strong></td>
                                                    <td colspan="4" valign="top">
                                                        THE MASTER OF MV HUA YUN 8 C/O SAMTRA                  &nbsp;
                                                    </td>
                                                </tr>
                                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                    <td valign="top"><strong>@HCSVNewWebsite.Commons.TitleConst.getTitleConst("DIA_CHI")</strong></td>
                                                    <td colspan="4" valign="top">
                                                        75 NGUYEN TRUONG TO STR WARD 12 DIST 4 HO CHI MINH CITY VIETNAM                  &nbsp;
                                                    </td>
                                                </tr>
                                                <tr bordercolor="#FFFFFF" bgcolor="#eaeaea">
                                                    <td colspan="5" class="awb_title" valign="top">
                                                        @HCSVNewWebsite.Commons.TitleConst.getTitleConst("THONG_TIN_VAN_CHUYEN")
                                                    </td>
                                                </tr>
                                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                    <td colspan="5" valign="top">
                                                        <table class="form awb_tbl02" width="100%">
                                                            <tbody>
                                                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                                    <td class="awb_title" align="center" width="12%">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_HIEU_CHUYEN_BAY")</td>
                                                                    <td class="awb_title" align="center" width="20%">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIO_DEN")</td>
                                                                    <td class="awb_title" align="center" width="10%">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("SO_KIEN")</td>
                                                                    <td class="awb_title" align="center" width="12%">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TRONG_LUONG")</td>
                                                                    <td class="awb_title" align="center" width="13%">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TRONG_LUONG_CAN_LAI")</td>
                                                                    <td class="awb_title" align="center" width="33%">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("TINH_TRANG")</td>
                                                                </tr>
                                                                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                                                                    <td align="center">
                                                                        BR0391
                                                                    </td>
                                                                    <td align="center">
                                                                        25-Feb-2017 12:11
                                                                    </td>
                                                                    <td align="center">
                                                                        1
                                                                    </td>
                                                                    <td align="right">
                                                                        88                        (kg)
                                                                    </td>
                                                                    <td align="center">
                                                                        &nbsp;
                                                                    </td>
                                                                    <td align="center">
                                                                        Hàng đã được giao cho : PHẠM VĂN BÌNH ngày 30Mar2017  16:07
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="marginT10" align="center">
                                            <a href="/Prices/Index" target="_blank" class="btn">
                                                <span>
                                                    @HCSVNewWebsite.Commons.TitleConst.getTitleConst("BANG_GIA")
                                                </span>
                                            </a>
                                            @*<a href="index.php?section=agent&amp;layout=lk_yc_imp_cs&amp;checkin_date=29/03/2017&amp;checkin_hour=02&amp;checkin_minute=39" target="_parent" class="btn">
                                                    <span>
                                                        Giá
                                                        lưu kho tại thời điểm
                                                    </span>
                                                </a>*@
                                            <a href="/AWBTracking_Agent/StorageCharge" target="_parent" class="btn">
                                                <span>
                                                    @HCSVNewWebsite.Commons.TitleConst.getTitleConst("GIA_LUU_KHO_TAI_THOI_DIEM")
                                                </span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>

        <script language="JavaScript">
            function checkForm() {
                var awbFirst = document.frmAwb.awbFirst.value;
                var awbLast = document.frmAwb.awbLast.value;
                var serie = awbLast.substring(awbLast.length - 1);

                if (awbFirst.length != 3) {
                    alert("So Khong Van Don Khong Hop Le");
                    return false;
                }
                if (awbLast.length != 8) {
                    alert("So Khong Van Don Khong Hop Le");
                    return false;
                }
                for (i = 0; i < awbFirst.length; i++) {
                    if ((awbFirst.charAt(i) != 0) && (awbFirst.charAt(i) != 1) && (awbFirst.charAt(i) != 2) && (awbFirst.charAt(i) != 3) && (awbFirst.charAt(i) != 4) && (awbFirst.charAt(i) != 5) && (awbFirst.charAt(i) != 6) && (awbFirst.charAt(i) != 7) && (awbFirst.charAt(i) != 8) && (awbFirst.charAt(i) != 9)) {
                        alert("So Khong Van Don Khong Hop Le");
                        return false;
                    }
                }
                for (i = 0; i < awbLast.length; i++) {
                    if ((awbLast.charAt(i) != 0) && (awbLast.charAt(i) != 1) && (awbLast.charAt(i) != 2) && (awbLast.charAt(i) != 3) && (awbLast.charAt(i) != 4) && (awbLast.charAt(i) != 5) && (awbLast.charAt(i) != 6) && (awbLast.charAt(i) != 7) && (awbLast.charAt(i) != 8) && (awbLast.charAt(i) != 9)) {
                        alert("So Khong Van Don Khong Hop Le");
                        return false;
                    }
                }

                if ((serie % 7) != awbLast.charAt(awbLast.length - 1)) {
                    alert("So Khong Van Don Khong Hop Le");
                    return false;
                }

                return true;
            }
        </script>
        <script language="JavaScript">
            function onKeyUpField() {
                var iLen = document.frmAwb.awbFirst.value.length;

                if (iLen == 3) {
                    eval("document.frmAwb.awbLast.focus()");
                    eval("document.frmAwb.awbLast.select()");
                }
            }
        </script>
        <script type="text/javascript">
            $('document').ready(function () {
                $(".btn").click(function () {
                    value = $(this).attr('value');
                    form_id = $(this).attr('form');
                    action_input_id = form_id + '_action';
                    $('#' + action_input_id).attr({ 'value': value });
                    $('#' + form_id).submit();
                });

                $('#input_awb').keypress(function (event) {
                    if (event.keyCode == '13') {
                        $(this).find('.btn').click();
                    }
                });
                //	}
            });
        </script>
    </div>

</div>

