@model HCSV.Business.Models.ContactModel
@using HCSV.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <section class="divider">
        <div class="container">
            <div class="row pt-30">
                <div class="col-md-5">
                    <h3 class="line-bottom mt-0 mb-30">Our Contact</h3>
                    @Html.Raw(Model.Contact.introtext)
                </div>
                <div class="col-md-7">
                    <h3 class="line-bottom mt-0 mb-30">Our Contact</h3>
                    <div class="row">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15676.164381864064!2d106.6626791!3d10.8081645!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc24d76162d853951!2sTan+Son+Nhat+Cargo+Services+Co.+Ltd!5e0!3m2!1sen!2s!4v1543137584874" width="100%" height="445" frameborder="0" style="border: 0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-lighter">
        <div class="container pb-30">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 pb-sm-20">
                        <div class="row">
                            @if (Model.ListContacts != null && Model.ListContacts.Any())
                            {
                                foreach (var item in Model.ListContacts)
                                {
                                    <div class="col-lg-3">
                                        <div class="widget">
                                            <h4 class="widget-title line-bottom"><a href="#">@Html.Raw(item.name)</a></h4>
                                            @Html.Raw(String.Format("{0}:{1}", item.title_of_manager, item.department_manager))
                                            <div class="categories">
                                                <ul class="list list-border angle-double-right">
                                                    <li><a href="#">@GlobalResource.DIEN_THOAI: @item.phone</a></li>
                                                    <li><a href="#">@GlobalResource.SO_NOI_BO: @item.ext_tel</a></li>
                                                    <li><a href="#">@GlobalResource.DUONG_DAY_NONG: @item.hotline</a></li>
                                                    <li>Email:&nbsp;<a href="mailto:@Html.Raw(item.email)">@Html.Raw(item.email)</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

